In [2]:
from fetch_data import load_zip, fetch_zip

In [4]:
df = load_zip()
df.head()

,asset_id,timestamp,datetime,open,high,low,close,volume,trade_count,vwap,event_slug,market
0,1623576641852159648759262023993076381027403309...,1770409680,2026-02-06T20:28:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
1,1623576641852159648759262023993076381027403309...,1770409920,2026-02-06T20:32:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
2,1623576641852159648759262023993076381027403309...,1770410160,2026-02-06T20:36:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
3,1623576641852159648759262023993076381027403309...,1770410280,2026-02-06T20:38:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
4,1623576641852159648759262023993076381027403309...,1770410340,2026-02-06T20:39:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c

In [5]:
df_work = df[df['event_slug']=='highest-temperature-in-ankara-on-february-6-2026']
df_work.head()

,asset_id,timestamp,datetime,open,high,low,close,volume,trade_count,vwap,event_slug,market
0,1623576641852159648759262023993076381027403309...,1770409680,2026-02-06T20:28:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
1,1623576641852159648759262023993076381027403309...,1770409920,2026-02-06T20:32:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
2,1623576641852159648759262023993076381027403309...,1770410160,2026-02-06T20:36:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
3,1623576641852159648759262023993076381027403309...,1770410280,2026-02-06T20:38:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c
4,1623576641852159648759262023993076381027403309...,1770410340,2026-02-06T20:39:00+00:00,0.9985,0.9985,0.9985,0.9985,0.0,0,0.9985,highest-temperature-in-ankara-on-february-6-2026,8-c

In [8]:
df_work['market'].unique()

<ArrowStringArray>
['8-c', '9-c']
Length: 2, dtype: str

In [ ]:
df_onemarket = df_work[df_work['market']=='9-c']
df_onemarket = df_onemarket[['datetime','open','high','low','close','volume','trade_count','vwap']]
df_onemarket.head()

Empty DataFrame
Columns: [datetime, open, high, low, close, volume, trade_count, vwap]
Index: []